
*{margin: 0; padding: 0;}
html,body{
	background: #fafafa;
	font-size: 15px;
	width: 100%;
	height: 100%;
}
#add{
	margin-bottom:0.1rem;
	color: #323232;
}

#add>.itemAddress{
	border-bottom: 10px #f0f0f0 solid;
}


.ad_But{
	margin-top: 0.05rem;
	font-size: 1.2em;
}
.user_But{
	min-width: 0.3rem;
	float: left;
	margin-left: 0.03rem;
}
.phone_But{
	width:  0.3rem;
	float: left;
	margin-right: 0.03rem;
}
.reg_But{
	color: #909090;
	padding: 0.03rem;
	border-bottom: 1px #ebebeb solid;
}
.add_editor{
	width: 0.08rem;
	float: left;
	text-align: center;
}
/*设置默认地址开始*/
.Check_But{
	width: 0.08rem;
	float: left;
	margin-left: 0.03rem;
	text-align: center;
}
.Check_But img{
	margin-top: 0.02rem;
	width: 0.05rem!important;
}
.set_But{
	width: 0.43rem;
	float: left;
	margin-top: 0.012rem;
	color:#acacac;
}
.add_delete{
	width: 0.08rem;
	float: left;
	text-align: center;
}
/*设置默认地址结束*/
.fr{
	font-size: 1em;
	padding-bottom: 0.025rem;
	margin-top: 0.02rem;
}
.fr img{
	margin-top: 0.015rem;
	width: 0.035rem;
}
.font_set,.font_del,.set_But{
	margin-top:0.012rem;
}
.font_set,.font_del{
	width:0.15rem;
	float:left;
/*	color: #acacac;*/	
}
.add_add{
	background: #b9984f;
	text-align: center;
	position: fixed;
	width: 1rem;
	right: 0;
	height: 0.12rem;
	line-height: 0.12rem;
}
.add_add_But{
	position: fixed;
    bottom: 0;
	width: 1rem;
	height: 0.12rem;
	background: #f1f1f1;
	display: block;
	color: #fafafa;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
/*新增地址开始*/
.add_address,.content-block{
	width:1rem;
	height: 0.16rem;
	line-height: 0.16rem;
	border-bottom: 1px solid #e9e9e9;
    clear: left;
}
.add_address input,.content-block input{
	border: none;
	margin-left: 0.05rem;
    width: 0.6rem;
}
.add_address label,.content-block label{
	margin-left: 0.05rem;
    display: inline-block;
    width: 0.2rem;
}
.add_address_xq{
	line-height: 0;
	border-bottom: 1px solid #e9e9e9;
	padding: 0.05rem 0;
}
.add_address_xq textarea{
	width: 0.9rem;
	height: 0.06rem;
	border: none;
	resize: none;
	margin: 0 0 0 0.05rem;
	word-break: break-all;
}
.add_address_xq textarea,.add_address input,.content-block input{
	background: #fafafa;
	box-sizing: border-box;
	outline: 0;
	font-family: "微软雅黑";
	font-size: 1em;
}
.add_save_But{
	position: fixed;
    bottom: 0;
	width: 1rem;
	height: 0.12rem;
	background: #f1f1f1;
	display: block;
	color: #fafafa;
}
.add_save{
	position:absolute;
	right:0;
	bottom: 0;
	height: 0.12rem;
	width: 0.33rem;
	color: #fafafa;
	background: #b9984f;
	display: block;
	font-size: 16px;
	cursor:pointer;
	/*letter-spacing:0.01rem;*/
	text-align: center;
	line-height: 0.12rem;
}
/*新增地址结束*/
.noneAds{
	line-height: 0.2rem;
    height: 0.2rem;
    padding: 0 0.03rem;
}


@media screen and (max-width: 360px) {
	.fr img {
		margin-top: 0.02rem;
		width: 0.037rem;
	}
}

@media screen and (max-width: 320px) {
	.fr img {
		margin-top: 0.02rem;
		width: 0.04rem;
	}
}