@font-face{
	font-family:"微软雅黑";
}
h1,h2,h3{
	font-weight: normal;
}
body{
	font-family:"微软雅黑";
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
header,.wrapper,footer{
	font-size: 16px;
	background-color:#fff;
}
.swiper-wrapper img{
	width: 1rem;
	height: 1rem;
}
.wrapper{
	margin-bottom: 0.12rem;
}
.wrapper .title{
	-webkit-margin-after: 0;
	color: #323232;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wrapper .subtitle{
	/*    -webkit-margin-before: 0;
        -webkit-margin-after: 0;*/
	-webkit-margin-before: 0.6em;
	font-size: 12px;
	color:#858585;
}
.wrapper>p{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	height: 0.12rem;
	line-height: 0.12rem;
	box-sizing:border-box;
	width: 1rem;
	padding-left: 0.04rem;
	color:#ababab;
	position: relative;
	border-bottom: 1px solid #f2f2f2;
}
.wrapper>p span{
	color: #2f2f2f;
	position: absolute;
	left: 0.2rem;
	width: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.wrapper>p.primeCost span{
	color:#9e9e9e;
}
.wrapper>p.content span{
	color:#9e9e9e;
}

.wrapper .colorPick{
	color:#ababab;
	width: 1rem;
	padding: 0.04rem;
	padding-bottom: 0;
	position: relative;
	box-sizing:border-box;
	overflow: auto;
	border-bottom: 1px solid #f2f2f2;
}
.wrapper .colorPick>p{
	width: 0.16rem;
	float: left;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
.wrapper .colorPick .colors{
	width: 0.66rem;
	float: left;
	box-sizing:border-box;
}
.wrapper .colorPick .colors p{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	float: left;
	padding:0 0.03rem 0.002rem;
	margin-right: 0.04rem;
	margin-bottom: 0.04rem;
	border: 1px solid #b0b0b0;
	text-align: center;
	/*padding: 0.02rem;*/
	max-width: 90%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.wrapper .coupon{
	clear: left;
}

.wrapper .coupon span{
	margin-top: 0.03rem;
	line-height: 0.06rem;
	width: 0.15rem;
	text-align: center;
	background-color: #b7a66e;
	border-radius:0.3rem;
}
.wrapper .details{
	height: 0.18rem;
	width: 1rem;
	text-align: center;
}

.wrapper .details p{
	width: 0.28rem;
	display: inline-block;
	color: #a6a6a6;
	-webkit-margin-after: 0;
	padding-bottom: 1em;
	margin-top: 0.08rem;
}

.wrapper .details p.active{
	color: rgb(102, 102, 102);
	/*border-bottom: 1px  rgb(102, 102, 102) solid ;*/
}




footer{
	width: 1rem;
	height: 0.12rem;
	text-align: center;
	position: fixed;
	text-align: center;
	bottom: 0;
}
footer p{
	height: 0.12rem;
	line-height: 0.12rem;
	width: 0.5rem;
	float: left;
	color: #f2db92;
	background-color:#2a2a2a;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
footer p.joinCart{
	color: #f0f0f0;
	background-color:#3d3d3d;
}
.addAndReduce{
	position: absolute;
	bottom: 0;
	right: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
.addAndReduce img.reduce{
	height: 0.04rem;
	position: absolute;
	top: 0.04rem;
	left: 0.2rem;
}
.addAndReduce span{
	height: 0.04rem;
	width: 0.12rem;
	position: absolute;
	left: 0.24rem;
	margin-left: 0.04rem;
	text-align: center;
}
.addAndReduce img.add{
	height: 0.04rem;
	position: absolute;
	top: 0.04rem;
	left: 0.36rem;
}
.message_1,.message_2{
	width: 1rem;
	box-sizing:border-box;
	padding:0.04rem;
}

.message_1 video{
	width: 100%;
	height: auto;
	z-index: 20
}







/*分享与收藏按钮*/
header{
	position:relative;
}
header .swiper-container{
	/*position: absolute;*/
	/*top: 0;*/
	/*width: 1rem;*/
	/*height: 1rem;*/
}
header .saveAndShare{
	position: absolute;
	top: 12px;
	z-index: 20;
	width: 125px;
	height: 22px;
	right: 15px;
}
header .saveAndShare img{
	width: 24px;
	height: 22px;
	margin-left: 10px;
}
header .saveAndShare img:first-child{
	/*margin-right: 10px;	*/
}




/*分享*/
#share-mask{
	background: rgba(255,255,255,0.5);
	z-index: 101;
	display: none;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}
#share-mask img {
	width: 1rem;
	position: absolute;
	left: 0;
}
/*富文本图片限制*/
.message_1 img,.message_2 img{
	width: 0.92rem;
}
.wrapper .currentCost{
	color: #B7A66E;
	overflow-x: hidden;
	overflow-y: auto;
}
.wrapper .currentCost span{
	color: #B7A66E;
}



/* swiper 滚动条修改 */
.swiper-container-horizontal>.swiper-scrollbar{
	top: 98.6%;
	background: rgba(0, 0, 0, 0.03);
}

.swiper-scrollbar-drag{
	height: 80px;
	height: 100%;
	width: 100%;
	position: relative;
	background: #C8A971;
	border-radius: 10px;
	left: 0;
	top: 0;
}



.message_1 img , .message_2 img{
	width: 100%;
	height: auto;
}














/*  修改之后的  详情页    */

body{
	font-family: "黑体";
	font-size: 16px;
}

footer{
	z-index: 0;
}


#addToShoppingCart{
	background: #FAFAFA;
	color: #B7A66E;
}


#buyNow{
	background: #B7A66E;
	color: #fff;
}


#mask_b{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.09);
	z-index: 300;
	bottom: 0;
}

#goodDetail{
	position: fixed;
	bottom: 0;
	width: 100%;
	/*height: 0;*/
	height: 60%;
	background: rgb(250, 250, 250);
	display: none;
	z-index: 400;
}




#goodDetail>div{
	position: relative;
	/*min-height: 30%;*/
	min-height: 0.33rem;
}




#goodDetail>.name>span,#goodDetail>.name>p{
	position: absolute;
}

#goodDetail>.name>.price{
	top: 10px;
	left: 44%;
	color: #B7A66E;;
}
#goodDetail>.name>.count{
	top: 48px;
	left: 44%;;
	color: #525252;
}
#goodDetail>.name>.spe{
	top: 75px;
	left: 44%;
	font-size: 0.9em;
	color: #b5b5b5;
	word-break: break-all;
	max-height: 0.15rem;
	overflow: hidden;
}
#goodDetail>.name>.spe>span{
	color: #525252;
}


#goodDetail>.name>.goodHeadPic{
	/*width: 130px;*/
	/*height: 130px;*/
	/*position: absolute;*/
	/*background: #fff;*/
	/*top: -16px;*/
	/*left: 7%;*/
	/*z-index: 600;*/
	width: 0.315rem;
	height: 0.315rem;
	position: absolute;
	background: #fff;
	top: -0.06rem;
	left: 7%;
	z-index: 600;
}

#goodDetail>.name>.close{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 7px;
	right: 7px;
}


#goodDetail  h4{
	color: #acacac;
	font-weight: 100;
	margin-left: 28px;
}

#goodDetail>.specifications{
}

#goodDetail>.specifications>.speList{
	margin: 5px 0 0 28px;
	display: block;
	max-height: 0.25rem;
	overflow-y: scroll;
	font-size: 0.9em;
}

#goodDetail>.specifications>.speList li{
	display: inline-block;
	text-align: center;
	padding: 0.5% 4%;
	float: left;
	background: #f0f0f0;
	color: #8a8a8a;
	min-width: 30px;
	margin: 0 15px 5px 0;
	font-size: 0.9em;
}


#goodDetail>.specifications>.speList li.active{
	display: inline-block;
	text-align: center;
	padding: 0.5% 4%;
	float: left;
	background: #B7A66E;
	color: #f0f0f0;
}



#goodDetail>.num{
	min-height: 0.2rem;
}

#goodDetail>.num>.numBox{
	margin-top: 5px;
	padding-left: 28px;
}

#goodDetail>.num input{
	font-size: 1em;
	border: none;
	width: 70px;
	height: 30px;
	line-height: 30px;
	background: #f0f0f0;
	color: #8a8a8a;
	text-align: center;
	position: absolute;
	left: 15%;
}

#goodDetail>.num img{
	width: 30px;
	height: 30px;
	position: absolute;
}

#goodDetail>.num img.plus{
	left: 33%;
}

#goodDetail>.num img.sub{

}


#goodDetail>button{
	width: 90%;
	background: #B7A66E;
	border: none;
	height: 50px;
	display: block;
	margin: auto;
	color: #fff;
	font-size: 1em;
	font-family: 黑体;
	/*position: relative;*/
	/*bottom: 30px;*/
	position: absolute;
	bottom: 0.02rem;
	left: 50%;
	margin-left: -45%;
}

.weui_mask.weui_mask_visible{
	z-index: 500;
}

.weui_dialog.weui_dialog_visible, .weui_toast.weui_dialog_visible, .weui_dialog.weui_toast_visible, .weui_toast.weui_toast_visible{
	z-index: 600;
}




#goodDetail > .btnBox{
	margin: auto;
	width: 92%;
	height: 50px;
	top: -20px;
}

#goodDetail > .btnBox > button{
	width: 50%;
	height: 0.12rem;
	line-height: 0.12rem;
	border: none;
	float: left;
	font-size: 1em;
	font-family: 黑体;
	position: absolute;
	top: 3px;
}

#sureAdd{
	background: #f5f5f5;
	color: #B7A66E;
}

#sureBuyNow{
	background: #B7A66E;
	color: #FAFAFA;
	right: 0;
}


.message_1 p{
	-webkit-margin-before: 0!important;
	-webkit-margin-after: 0!important;
}


#mask{
	background: url("../imgs/mask_ios.png") no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3000;
}



@media screen and (max-width: 850px){
	#goodDetail>.name>.goodHeadPic{
		width: 0.22rem;
		height: 0.22rem;
	}
}


@media screen and (max-width: 375px){
	#goodDetail>.num input{
		left: 19%;
	}

	#goodDetail>.num img.plus{
		left: 41%;
	}

	#goodDetail > .btnBox > button{
		top: 30%;
	}
}


@media screen and (max-width: 320px){

	#goodDetail>.name>.goodHeadPic{
		width: 90px;
		height: 90px;
	}

	#goodDetail>.name>.count{
		top: 36px;
	}

	#goodDetail>.name>.spe{
		top: 60px;
	}

	#goodDetail>.num input{
		left: 19.5%;
	}

	#goodDetail>.num img.plus{
		left: 42.5%;
	}

	#goodDetail>button{
		height: 30px;
		font-size: 0.8em;
	}

	#goodDetail > .btnBox > button{
		top: 30%;
	}
}


