@font-face{
	font-family:"微软雅黑";
}
h1,h2,h3{
    font-weight: normal;
}
body{
    font-family:"微软雅黑";
}
center img{
	width:0.4rem;
	height: 0.4rem;
	margin: 0.4rem 0;
}
p{
	width: 0.6rem;
	height:0.12rem;
	line-height: 0.12rem;
	color: #fafafa;
	font-size: 18px;
	margin-bottom: 0.05rem;
}
center .viewOrder{
	background-color: #c1af74;
}
center .backHome{
	background-color: #4b4b4b;
}