@font-face{
	font-family:"微软雅黑";
}
h1,h2,h3{
	font-weight: normal;
}
body{
	font-family:"微软雅黑";
	font-size: 16px;
}
div{
    text-align: center;
    width: 0.6rem;
    height: 0.1rem;
    line-height: 0.1rem;
    background-color: #333;
    color: #eee;
    box-sizing: border-box;
    margin-top: 0.12rem;
    margin-left: 0.2rem;
}