@font-face{
    font-family: SimHei;
}
h1,h2,h3{
    font-weight: normal;
}
body{
    font-family: SimHei;
    /*background: #eeeeee;*/
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}
header,.wrapper,footer{
    font-size: 16px;
    background-color:#fff;
}
.swiper-wrapper img{
    width: 1rem;
    height: 1rem;
}
.wrapper .title{
    -webkit-margin-after: 0;
    color:#323232;
}
.wrapper .subtitle{
    /*    -webkit-margin-before: 0;
        -webkit-margin-after: 0;*/
    -webkit-margin-before: 0.6em;
    font-size: 12px;
    color:#858585;
}
.wrapper{
    margin-bottom: 0.15rem;
    font-family: 黑体;
}
.wrapper>p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    height: 0.12rem;
    line-height: 0.12rem;
    box-sizing:border-box;
    width: 1rem;
    padding-left: 0.04rem;
    color:#ababab;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
}
.wrapper>p span{
    color: #000;;
    position: absolute;
    left: 0.2rem;
    width: 0.76rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.wrapper .colorPick{
    color:#ababab;
    width: 1rem;
    padding: 0.04rem;
    padding-bottom: 0;
    position: relative;
    box-sizing:border-box;
    overflow: auto;
    border-bottom: 1px solid #f2f2f2;
}
.wrapper .colorPick>p{
    width: 0.16rem;
    float: left;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.wrapper .colorPick .colors{
    width: 0.66rem;
    float: left;
    box-sizing:border-box;
}
.wrapper .colorPick .colors p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    float: left;
    padding:0 0.03rem 0.002rem;
    margin-right: 0.04rem;
    margin-bottom: 0.04rem;
    border: 1px solid #b0b0b0;
    text-align: center;
    /*padding: 0.02rem;*/
}
.wrapper .coupon{
    clear: left;
}
.wrapper .coupon span{
    margin-top: 0.03rem;
    line-height: 0.06rem;
    width: 0.15rem;
    text-align: center;
    background-color: #b7a66e;
    border-radius:0.3rem;
}
.wrapper .details{
    height: 0.18rem;
    width: 1rem;
    text-align: center;
}
.wrapper .details p{
    width: 0.28rem;
    display: inline-block;
    color: #a6a6a6;
    -webkit-margin-after: 0;
    padding-bottom: 1em;
}

.addAndReduce{
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.addAndReduce img.reduce{
    height: 0.04rem;
    position: absolute;
    top: 0.04rem;
    left: 0.2rem;
}
.addAndReduce span{
    height: 0.04rem;
    width: 0.12rem;
    position: absolute;
    left: 0.24rem;
    margin-left: 0.04rem;
    text-align: center;
}
.addAndReduce img.add{
    height: 0.04rem;
    position: absolute;
    top: 0.04rem;
    left: 0.36rem;
}
.message{
    width:1rem;
    box-sizing:border-box;
    padding:0.04rem 15px;
}
.message img{
    width: 0.92rem;
}
.message .title_sub{
    color: #323232;
    border-bottom: 1px #F0F0F0 solid;
    height: 0.1rem;
    line-height: 0.1rem;
    /*padding-left: 10px;*/
}

.message>div:first-child{
    border-bottom: 10px #FAFAFA solid;
}

/***********************************************/


footer{
    position: fixed;
    bottom: 0;
    width: 1rem;
    height: 0.12rem;
    background-color:#eeeeee;
    line-height: 0.12rem;
}

footer a{
    text-align: center;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 0.12rem;
    display: inline-block;
    line-height: 0.12rem;
}


#payOnline{
    border: none;
    width: 100%;
    height: 0.12rem;
    text-align: center;
    float: right;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    background-color: #D7C381;
    color: #fff;
    font-size: 1em;
    font-family: 微软雅黑;
}




/*分享与收藏按钮*/
header{
    position:relative;
}
header .swiper-container{
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 1rem;*/
    /*height: 1rem;*/
}
header .saveAndShare{
    position: absolute;
    top: 10px;
    z-index: 20;
    width: 70px;
    height: 22px;
    right: 10px;
}
header .saveAndShare img{
    width: 24px;
    height: 22px;
}
header .saveAndShare img:first-child{
    float: right;
    margin-right: 10px;
}
/*分享*/
#share-mask{
    background: rgba(255,255,255,0.5);
    z-index: 101;
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
#share-mask img {
    width: 1rem;
    position: absolute;
    left: 0;
}
/*富文本图片限制*/
.message_1 img,.message_2 img{
    width: 0.92rem;
}
/*.wrapper .currentCost{*/
/*color:red;*/
/*color: #ABABAB;*/
/*}*/
.wrapper .currentCost span{
    color: #000;
}

.swiper-scrollbar-drag{
    background: rgba(183, 166, 110, 1);
}


.message img{
    width: 100%;
}


/************** 产品 详情 ***************/
#mallDetail>.list{
    border-bottom: 1px #F0F0F0 solid;
    padding-bottom: 0.02rem;
}

#mallDetail>.list>p{
    color: #323232;
}
#mallDetail>.list>.title{
    -webkit-margin-after: 0;
    font-size: 1.2em;
    font-weight: bold;
}
#mallDetail>.list>.subtitle{
    font-size: 15px;
    color: #858585;
}
#mallDetail>.list>.price{
    font-size: 1.3em;
    color: #bba76f;
    margin-top: 10px;
}
#mallDetail>.list>.disPrice{
    text-decoration:line-through;
}
#mallDetail>.list>.num{
    font-size: 12px;
    color: #a6a6a6;
}


#mallDetail>.information{
    padding: 0 5px;
}

#mallDetail>.information>p{
    border-top: 10px #FAFAFA solid;
    height: 0.08rem;
    line-height: 0.08rem;
    color: #323232;
    font-size: 15px;
}

#mallDetail>.information>p:nth-child(2){
    border: none;
}

#mallDetail>.information>p:last-child{
    height: 0.12rem;
    line-height: 0.12rem;
    border-bottom: 10px #FAFAFA solid;
}

#mallDetail>.information>p:last-child>a{
    color: #323232;
    display: inline-block;
    width: 80%;
}

#mallDetail>.information>p>img{
    width: 0.035rem;
    margin: 0 10px;
    position: relative;
    top: 2px;
}

#mallDetail>.information>p:last-child>img:last-child{
    width: 0.02rem;
    margin-top: 15px;
    float: right;
}

#mallDetail .message .title_sub{
    color: #323232;
    border-bottom: 1px #F0F0F0 solid;
    margin-bottom: 10px;
}

#mallDetail>.tips{
    color: #9f9f9f;
    background: #fafafa;
    padding-left: 10px;
    height: 0.1rem;
    font-size: 0.5em;
}
#mallDetail>.tips>p {
    height: 25px;
    line-height: 25px;
}


#mallDetail>.headImg{
    width: 100%;
    height: 0.6rem;
    margin-bottom: 0.05rem;
}

#mallDetail>.headImg>img{
    width: 100%;
    height: 100%;
}


#mallDetail .reminder{
    border-top: 10px #FAFAFA  solid;
    margin: auto;
    color: #959595;
    font-size: 0.8em;
}


/**********************主题产品订单***************************/
#order{
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#order>header{
    width: 100%;
    line-height: 0.13rem;
    font-size: 1.1em;
    text-align: center;
    border-bottom: 1px #EDEDEC solid;
}

#order>.proInfo{
    height: 0.3rem;
    border-top: 10px #FAFAFA solid;
    border-bottom: 1px #EDEDEC solid;
    padding: 0 15px;
}

#order>.proInfo>img{
    float: left;
    display: inline-block;
    width: 0.3rem;
    height: 0.2rem;
    margin-top: 0.05rem;
}

#order>.proInfo>.name{
    float: left;
    width: 0.56rem;
    height: 0.2rem;
    margin: 0.05rem 0 0 0.04rem;
    position: relative;
}

#order>.proInfo>.name>p{
    font-size: 1.1em;
    line-height: 25px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#order>.proInfo>.name>span{
    color: #7E7E7E;
    position: absolute;
    bottom: 0;
}

#order>ul{
    border-top: 10px #FAFAFA solid;
    font-size: 0.9em;
}

#order>ul>li{
    height: 0.13rem;
    line-height: 0.13rem;
    padding: 0 15px;
}

#order>ul>li:first-child{
    border-bottom: 8px #FAFAFA solid;
}

#order>ul>li:last-child{
    border-top: 1px #EDEDEC solid;
    border-bottom: 8px #FAFAFA solid;
}

#order>ul>li>span{
    float: right;
}

#order>ul>li:first-child>span{
    display: inline-block;
    width: 0.07rem;
    height: 0.07rem;
    line-height: 0.07rem;
    text-align: center;
    color: #7E7E7E;
    font-size: 1.5em;
    background: #F0F0F0;
    margin: 12px 0 0 5px;
}

#order>ul>li:first-child>span:nth-child(2){
    width: 0.15rem;
}

#order>.foot{
    width: 100%;
    height: 0.12rem;
    line-height: 0.12rem;
    background: #F0F0F0;
    position: absolute;
    bottom: 0;
    padding-left: 15px;
}

#order>.foot button{
    float: right;
    width: 0.37rem;
    height: 100%;
    color: #fff;
    font-size: 1em;
    border: none;
    background: #bba76f;
}

#order>.foot .totalPrice{
    color: #bba76f;
    font-size: 1.1em;
}



@media screen and (max-width: 320px){
    #order>.proInfo>.name>p{
        font-size: 1em;
        line-height: 20px;
    }
}
