html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #b2b2b2;
    background: rgba(189, 189, 189, 0.06);
}

ul,li{
    list-style: none;
    background: #fff;
}


body>ul{
    border: 1px #f0f0f0 solid;
    padding: 20px 0 12px 25%;
    margin-bottom: 20px;
    position: relative;
}

body>ul>li{
    height: 33px;
    line-height: 33px;
}

body>ul>li:first-child{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 63px;
    text-align: center;
}

body>ul>li.statu{
    margin: 0px 0 15px 0;
    color: #23C225;
}


#detail{
    border: 1px #f0f0f0 solid;
    background: #fff;
    padding: 0 0 0 20px;
}

#detail>h4{
    color: #000;
    font-weight: 100;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px #f0f0f0 solid;
}

#detail>ul{
    margin-left: 25px;
    border-left: 1px #f0f0f0 solid;
}

#detail>ul>li{
    margin: 0 0 0px 45px;
    padding: 15px 15px 10px 0;
    border-bottom: 1px #f0f0f0 solid;
    position: relative;
}

#detail>ul>li.active{
    color: #23C225;
}

#detail>ul>li>.point.active{
    background: #23C225;
}

#detail>ul>li>.point{
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #DADADA;
    left: -53px;
}














