h1,h2,h3,h4{
    font-weight: normal;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #fafafa;
}

header{
    text-align: center;
    width: 1rem;
    line-height: 0.12rem;
    box-sizing: border-box;
    font-size: 14px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 20;
}

header nav{
    background: #fafafa;
}

header a{
    color: #909090;
    display: inline-block;
    width: 16%;
}

header a.active{
    color: #323232;
}

header .subNav>a{
    width: 24%;
}

header .subNav>a.active{
    color: #b9984f;
}

header .subNav>a>span{
    display: inline-block;
    width: 100%;
    height: 0.04rem;
    line-height: 0.04rem;
    border-right: 1px #f0f0f0 solid;
}
header .subNav>a:last-child>span{
    border: none;
}


#list{
    margin-top: 0.15rem;
}

#list>div>.subNav{

}


/*空页面的样式*/
center{
    width: 1rem;
    color: #323232;
}

center img{
    width: 0.3rem;
    margin: 0.2rem 0 0.08rem 0;
}
center p:last-child{
    width: 0.5rem;
    height: 0.1rem;
    line-height: 0.1rem;
    margin-top: 0.2rem;
    background-color: #c1b02b;
    color: #fff;
}

center a{
    text-decoration: none;
    font-size: 1em;
    height: 0.05rem;
    line-height: 0.05rem;
    color: #b9984f;
    border-bottom: none;
    margin: 0.03rem 0 0.04rem 0;
    display: inline-block;
}


/************活动****************/
.activityOrder .singleAppointment h4,.appointment .singleAppointment p{
    -webkit-margin-before:0;
    -webkit-margin-after:0;
}
.activityOrder .singleAppointment{
    width: 1rem;
    box-sizing:border-box;
    padding:0.03rem 0.03rem 0 0.03rem;
}
.activityOrder .singleAppointment>img{
    width: 0.25rem;
    height: 0.25rem;
    margin-right: 0.04rem;
}
.activityOrder .singleAppointment .detail{
    width: .65rem;
    height: 0.25rem;
    float: right;
    position: relative;
}
.activityOrder .singleAppointment .detail h4{
    color: #161616;
    margin:0.01rem 0 0.04rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 0.53rem
}
.activityOrder .singleAppointment .detail  span{
    float: right;
    font-size: 14px;
    color: #c1af74;
    position: relative;
    top: -0.1rem;
}
.activityOrder .singleAppointment .detail .time{
    font-size: 12px;
    position: absolute;
    bottom: 0.06rem;
    width: 0.65rem;
    color: #9f9f9f;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.activityOrder .singleAppointment .detail .time img{
    height: 0.03rem;
    vertical-align:middle;
    margin-bottom: 2px;
    margin-right: 0.03rem;
}
.activityOrder .singleAppointment .detail .address{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    color: #9f9f9f;
    width: 0.65rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.activityOrder .singleAppointment .detail .address img{
    height: 0.04rem;
    vertical-align: middle;
    margin-right: 0.03rem;
}
/************ ↑活动****************/





/***************臻品订单******************/
.goodsOrder>.itemGood{
    border-top: 10px #f5f5f5 solid;
}

.goodsOrder>.itemGood h4{
    height: 0.1rem;
    line-height: 0.1rem;
    border-bottom: 1px #f0f0f0 solid;
    padding-right: 0.03rem;
}

.goodsOrder>.itemGood h4>span{
    color: #323232;
    border-left: 0.008rem #b9984f solid;
    padding-left: 0.022rem;
}

.goodsOrder>.itemGood h4>i{
    font-style: normal;
    color: #b9984f;
    float: right;
    font-size: 0.9em;
}

.goodsOrder>.itemGood li{
    border-bottom: 1px #f5f5f5 solid;
    padding: 0.03rem 0 0.02rem 0.03rem;
    overflow: hidden;
    color: #323232;
}

.goodsOrder>.itemGood li>img{
    float: left;
    overflow: hidden;
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 3px;
}

.goodsOrder>.itemGood li>p{
    float: left;
    width: 0.73rem;
    margin: 0 0 0 0.03rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.goodsOrder>.itemGood li>p:nth-child(2){
    font-size: 0.95em;
}
.goodsOrder>.itemGood li>p:nth-child(3){
    font-size: 0.8em;
    color: #909090;
}
.goodsOrder>.itemGood li>p:nth-child(4){
    font-size: 0.9em;
    margin-top: 0.03rem;
    color: #646464;
}

.goodsOrder>.itemGood li>p:nth-child(4) .num{
    float: right;
    color: #646464;
}

.goodsOrder>.itemGood>div{
    padding: 0 0 0 0.03rem;
    height: 0.13rem;
    line-height: 0.13rem;
    font-size: 0.9em;
}

.goodsOrder>.itemGood>div i{
    color: #b9984f;
    font-style: normal;
}

.goodsOrder>.itemGood>div button{
    float: right;
    border: navajowhite;
    font-size: 0.95em;
    width: 0.22rem;
    height: 0.08rem;
    margin: 0.025rem 0.03rem 0 0;
    border-radius: 2px;
}

.goodsOrder>.itemGood>div button.payNow{
    background: #b9984f;
    color: #fff;
}

.goodsOrder>.itemGood>div button.cancel{
    background: none;
    border: 1px #909090 solid;
    color: #909090;
}

/***************↑臻品订单******************/





/***************乐享订单******************/
.enjoyOrder ul,.enjoyOrder li{
    padding: 0;
    margin: 0;
    list-style: none;
    color: #7D7D7D;
}

.enjoyOrder>.itemOrder{
    width: 0.92rem;
    /*height: 0.75rem;*/
    border-top: 10px #fafafa solid;
    border-bottom: 1px #E7E6E5 solid;
    padding: 0 0.04rem;
}

.enjoyOrder>.itemOrder li{
    height: 0.13rem;
    line-height: 0.13rem;
    border-bottom: 1px #E7E6E5 solid;;
}

.enjoyOrder>.itemOrder li:nth-child(2){
    height: 0.23rem;
    line-height: 0.23rem;
    padding: 0.025rem 0;
}

.enjoyOrder>.itemOrder li:nth-child(2)>img{
    width: 0.3rem;
    height: 0.23rem;
}

.enjoyOrder>.itemOrder li:nth-child(2)>.title{
    width: 0.59rem;
    line-height: 0.05rem;
    color: #323232;
    font-size: 17px;
    margin-left: 0.01rem;
}


.enjoyOrder>.itemOrder li:last-child{
    border-bottom: none;
    text-align: center;
    color: #C1AF74;
}

.enjoyOrder>.itemOrder li>span:last-child{
    float: right;
}

.enjoyOrder>.itemOrder .state{
    color: #C1AF74;
}

.enjoyOrder>.itemOrder .state.cancel{
    color: #989898;
}

.enjoyOrder>.itemOrder .state.finished{
    color: #323232;
}


.enjoyOrder>.itemOrder .pay ,.enjoyOrder>.itemOrder .payAgain ,.enjoyOrder>.itemOrder .deleteOrder{
    color: #fff;
    background: #C1AF74;
    display: inline-block;
    width: 0.17rem;
    height: 0.06rem;
    line-height: 0.06rem;
    text-align: center;
    font-size: 13px;
    margin-top: 0.035rem;
    float: right;
    border: none;
}

.enjoyOrder>.itemOrder .deleteOrder{
    background: #B1B1B1;
    margin-right: 0.02rem;
}
/***************↑乐享订单******************/


#loading{
    text-align: center;
    margin-top: 0.05rem;
}

#loading >img{
    display: inline-block;
    width: 0.05rem;
    height: 0.05rem;
}


@media screen and (max-width: 375px) {
    .goodsOrder>.itemGood li>img{
        width: 0.2rem;
        height: 0.2rem;
    }
    .goodsOrder>.itemGood li>p{
        width: 0.7rem;
    }
}

@media screen and (max-width: 320px) {
    .goodsOrder>.itemGood li>img{
        width: 0.23rem;
        height: 0.23rem;
    }
    .goodsOrder>.itemGood li>p{
        width: 0.67rem;
    }
}









