body{
    font-family: "黑体";
}

footer{
    z-index: 0;
}


#addToShoppingCart{
    background: #FAFAFA;
    color: #B7A66E;
}


#buyNow{
    background: #B7A66E;
    color: #fff;
}


#mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.09);
    z-index: 100;
    bottom: 0;
}

#goodDetail{
    position: fixed;
    bottom: 0;
    width: 100%;
    /*height: 0;*/
    height: 60%;
    background: rgb(250, 250, 250);
    display: none;
    z-index: 200;
}




#goodDetail>div{
    position: relative;
    min-height: 30%;
}


#goodDetail>.name>span,#goodDetail>.name>p{
    position: absolute;
}

#goodDetail>.name>.price{
    top: 10px;
    left: 44%;
    color: #B7A66E;;
}
#goodDetail>.name>.count{
    top: 48px;
    left: 44%;;
    color: #525252;
}
#goodDetail>.name>.spe{
    top: 75px;
    left: 44%;
    font-size: 0.9em;
    color: #b5b5b5;
}
#goodDetail>.name>.spe>span{
    color: #525252;
}


#goodDetail>.name>.goodHeadPic{
    width: 130px;
    height: 130px;
    position: absolute;
    background: #fff;
    top: -16px;
    left: 7%;
    z-index: 600;
}

#goodDetail>.name>.close{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7px;
    right: 7px;
}


#goodDetail  h4{
    color: #acacac;
    font-weight: 100;
    margin-left: 28px;
}

#goodDetail>.specifications>.speList{
    margin: 5px 0 0 28px;
}

#goodDetail>.specifications>.speList li{
    display: inline-block;
    text-align: center;
    padding: 0.5% 4%;
    float: left;
    background: #f0f0f0;
    color: #8a8a8a;
    min-width: 30px;
    margin: 0 15px 13px 0;
}


#goodDetail>.specifications>.speList li.active{
    display: inline-block;
    text-align: center;
    padding: 0.5% 4%;
    float: left;
    background: #B7A66E;
    color: #f0f0f0;
}




#goodDetail>.num>.numBox{
    margin-top: 5px;
    padding-left: 28px;
}

#goodDetail>.num input{
    border: none;
    width: 70px;
    height: 30px;
    line-height: 30px;
    background: #f0f0f0;
    color: #8a8a8a;
    text-align: center;
    position: absolute;
    left: 15%;
}

#goodDetail>.num img{
    width: 30px;
    height: 30px;
    position: absolute;
}

#goodDetail>.num img.plus{
    left: 33%;
}

#goodDetail>.num img.sub{

}


#goodDetail>button{
    width: 90%;
    background: #B7A66E;
    border: none;
    height: 50px;
    display: block;
    margin: auto;
    color: #fff;
    font-size: 1em;
    font-family: 黑体;
    position: relative;
    bottom: 11px;
}

.weui_mask.weui_mask_visible{
    z-index: 500;
}

.weui_dialog.weui_dialog_visible, .weui_toast.weui_dialog_visible, .weui_dialog.weui_toast_visible, .weui_toast.weui_toast_visible{
    z-index: 600;
}




#goodDetail > .btnBox{
    margin: auto;
    width: 92%;
    height: 50px;
    top: -12px;
}

#goodDetail > .btnBox > button{
    width: 50%;
    height: 0.12rem;
    line-height: 0.12rem;
    border: none;
    float: left;
    font-size: 1em;
    font-family: 黑体;
}

#sureAdd{
    background: #FAFAFA;
    color: #B7A66E;
}

#sureBuyNow{
    background: #B7A66E;
    color: #FAFAFA;
}







@media screen and (max-width: 375px){
    #goodDetail>.num input{
        left: 16.5%;
    }

    #goodDetail>.num img.plus{
        left: 36.3%;
    }
}


@media screen and (max-width: 320px){
    #goodDetail>.name>.goodHeadPic{
        width: 90px;
        height: 90px;
    }

    #goodDetail>.name>.count{
        top: 36px;
    }

    #goodDetail>.name>.spe{
        top: 60px;
    }

    #goodDetail>.num input{
        left: 19.5%;
    }

    #goodDetail>.num img.plus{
        left: 42.5%;
    }
}























