h1,h2,h3,h4{
	font-weight: normal;
}
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #323232;
}
footer,.wrapper{
	font-size: 16px;
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling:touch
}

footer{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 0.12rem;
	line-height: 0.12rem;
	text-align: center;
	width: 1rem;
	background-color:#eeeeee;
	z-index: 10;
}
footer p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	width: 0.33rem;
}
footer p:nth-child(2){
	float: right;
}
footer p:first-child{
	float: right;
	background-color: #c1af74;
	color: #eee;
}
/*tradeSuccess页面具体调整*/
footer .delete_sucs{
	float: right!important;
}
/*hadSent页面具体调整*/
footer .delete_hadSent{
	float: right!important;
}
/*hadPaid页面具体调整*/	
footer .delete_hadPaid{
	float: right!important;
}

.cost_unpaid{
	color: #c1af74;
	background: #FAFAFA;
	font-size: 16px;
	position: fixed;
	bottom: 0.12rem;
	height: 0.12rem;
	width: 100%;
	line-height: 0.12rem;
	right: 0;
}

.cost_unpaid>span{
	position: absolute;
	right: 9%;
}

/*unpaid页面的具体调整*/
.unpaid_margin_bottom{
	/*margin-bottom: 0.3rem;*/
}


.weui_mask, .weui_mask_transition, .weui_mask_transparent{
	z-index: 10;
}




/*&**********************************/
#info>div{
	border-bottom: 10px #f0f0f0 solid;
}

h3{
	font-size: 0.9em;
	height: 0.1rem;
	line-height: 0.1rem;
	border-bottom: 1px #ebebeb solid;
	padding-left: 0.03rem;
}

ul{
	font-size: 0.9em;
	padding: 0.03rem 0 0.03rem 0.03rem;
}

li{
	line-height: 0.09rem;
	list-style: none;
}

li>span:first-child{
	display: inline-block;
	width: 0.23rem;
}

li>span:last-child{
	color: #909090;
	display: inline-block;
}

#info .adderDetail{
	overflow: hidden;
}
#info .adderDetail>span:last-child{
	display: inline-block;
	float: right;
	width: 0.7rem;
	text-align: left;
	line-height: 0.06rem;
	margin: 0.015rem 0.04rem 0 0;
}

#info>.goodInfo>.itemGood{
	overflow: hidden;
	padding: 0.04rem 0 0.02rem 0.03rem;
	min-height: 0.22rem;
}

#info>.goodInfo>.itemGood img{
	float: left;
	width: 0.18rem;
	height: 0.18rem;
	border-radius: 4px;
	margin-top: 0.02rem;
}

#info>.goodInfo>.itemGood img+div{
	float: left;
	width: 0.7rem;
	margin: 0.01rem 0 0 0.04rem;
}

#info>.goodInfo>.itemGood h4{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.9em;
}

#info>.goodInfo>.itemGood p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.8em;
	color: #909090;
}

#info>.goodInfo>.itemGood p:last-child{
	margin-top: 0.03rem;
	color: #c1af74;
}

#info>.goodInfo>.itemGood p>.price{
	font-size: 0.9em!important;
}

#info>.goodInfo>.itemGood p>.num{
	float: right;
	color: #323232;
}

a{
	font-size: 1em;
	color: #323232;
	width: 90%;
	display: inline-block;
}

#info>.goodInfo>.tell{
	height: 0.15rem;
	line-height: 0.15rem;
	border-top: 1px #ebebeb solid;
	padding: 0 0 0 0.03rem;
}

#info>.goodInfo>.tell>span{
	float: right;
	margin-right: 0.05rem;
	font-weight: bold;
}

#info>.otherInfo{
	border-bottom: none;
}

#info>.otherInfo h3{
	font-size: 1em;
	height: 0.15rem;
	line-height: 0.15rem;
}

#info>.otherInfo h3.remark.active{
	border-bottom: 10px #f0f0f0 solid;
}

#info>.otherInfo h3:last-child{
	border-bottom: 1px #f0f0f0 solid;
}

#info>.otherInfo h3>span:last-child{
	float: right;
	margin-right: 0.05rem;
	font-weight: bold;
}

#info>.otherInfo .totalPay{
	font-size: 0.9em;
	color: #909090;
	font-weight: normal!important;
}

#info>.otherInfo>div{
	height: 0.2rem;
	line-height: 0.2rem;
}

#info>.otherInfo .realPay{
	float: right;
	margin-right: 0.05rem;
}

#info .remarkCnt{
	padding: 0.03rem;
	border-bottom: 10px #ebebeb solid;
	color: #909090;
	font-size: 0.9em;
}

#cancelOrder{
	display: inline-block;
	border: 1px #323232 solid;
	border-radius: 4px;
	font-style: normal;
	height: 0.07rem;
	line-height: 0.07rem;
	padding: 0 0.03rem;
	margin: 0.01rem 0.04rem 0 0;
	float: right;
	font-size: 0.8em;
}


@media screen and (max-width: 375px){
	#info>.goodInfo>.itemGood p:last-child{
		margin-top: 0.02rem;
	}
}

@media screen and (max-width: 360px){
	#info>.goodInfo>.itemGood p:last-child{
		margin-top: 0.01rem;
	}
}


@media screen and (max-width: 320px){
	#info>.goodInfo>.itemGood p {
		font-size: 0.8em;
	}
}













