@font-face{
	font-family:"微软雅黑";
}
h1,h2,h3{
	font-weight: normal;
}
body{
	font-family:"微软雅黑";
	/*background: #eeeeee;*/
	margin: 0;
	padding: 0;
}
footer,.wrapper{
	font-size: 16px;
}
.good{
	/*height:0.3rem;*/
	box-sizing:border-box;
	width: 1rem;
	padding: 0.04rem 0.03rem;
}
.good img{
	height: 98%;
	width: 0.29rem;
	margin-right: 0.04rem;
	 margin-top: 9px;
	float: left;
}
.good >.goodBox>img{
	margin-top: 0;
}


.good>div{
	float: right;
	width: 100%;
	height: 0.33rem;
}
.good>div div.subtitle{
	color:#b9b9b9;
	font-size: 14px;
	margin:0.02rem 0 0.04rem 0;
}
@media screen and (max-width:320px){
	.good>div div.subtitle{
		margin:0.01rem 0 0.02rem 0;
	}
}
.good>div div.title{
	color:#5e5e5e;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 6px;
}
.good>div div.cost p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	float: left;
}
.good>div div.cost p:first-child{
	font-size: 15px;
	color: #B9B9B9;
}
.good>div div.cost p:nth-child(2){
	font-size: 17px;
	color: #363E3E;
	float: right;
}



.address{
	height: 0.12rem;
	line-height: 0.12rem;
	width: 1rem;
	border-bottom:#b2b2b2 1px solid;
	clear: both;
}
.address>img{
	float: left;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	margin:0.03rem 0.04rem 0 0.03rem;
}
.address .adr{
	float: left;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	font-size: 13px;
	color: #989898;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 60%;
}
.address .person{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	float: right;
	margin-right: 0.03rem;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 25%;
	color: #3A3A3A;
	font-size: 15px;
}
.address .person span{
	font-size: 14px;
	margin-left: 0.03rem;
}
.time{
	height: 0.3rem;
	line-height: 1.6;
	box-sizing:border-box;
	padding: 0.03rem;
    border-bottom: #b2b2b2 1px solid;
}
.time p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	font-size: 14px;
	color: #989898;
	height: 40px;
	line-height: 40px;
}
.time p:nth-child(2) span:nth-child(2){
	float: right;
	color: #c1af74;
}
.logistical{
	width:1rem;
	box-sizing:border-box;
	padding: 0.04rem 0.03rem;
    border-bottom: #b2b2b2 1px solid;
}
.logistical .detailAddress>img{	
	float: left;
	margin:0.04rem 0.03rem 0.04rem 0; 
}
.logistical .detailAddress p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	color: #6a6a6a;
	line-height: 1.5;
}
.logistical .searchPoint span{
	color: #989898;
}
.logistical .searchPoint img{
	float: right;
	margin-right: 0.02rem;
	margin-top: 7px;
}
footer{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 0.12rem;
	line-height: 0.12rem;
	text-align: center;
	width: 1rem;
	background-color:#eeeeee;
	z-index: 10;
}
footer p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	width: 0.33rem;
}
footer p:nth-child(2){
	float: right;
}
footer p:first-child{
	float: right;
	background-color: #c1af74;
	color: #eee;
}
/*tradeSuccess页面具体调整*/
footer .delete_sucs{
	float: right!important;
}
/*hadSent页面具体调整*/
footer .delete_hadSent{
	float: right!important;
}
/*hadPaid页面具体调整*/	
footer .delete_hadPaid{
	float: right!important;
}

.cost_unpaid{
	color:#c1af74;
	font-size: 16px;
	position: fixed;
	bottom: 0.12rem;
	height: 0.12rem;
	width: 0.7rem;
	line-height: 0.12rem;
	right: 0;
}

.cost_unpaid>span{
	position: absolute;
	right: 9%;
}

/*unpaid页面的具体调整*/
.unpaid_margin_bottom{
	margin-bottom: 0.3rem;
}


.weui_mask, .weui_mask_transition, .weui_mask_transparent{
	z-index: 10;
}