html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 黑体;
}

ul,li{
    list-style: none;
}


div.priceBlock {
    color: #606060;
    min-height: 80px;
    padding-left: 20px;
    position: relative;
}

div.priceBlock  > li{
    height: 35px;
    line-height: 35px;
    color: #7a7a7a;
    font-size: 1em;
    position: relative;
}

div.priceBlock > li:first-child{
    height: 55px;
    line-height: 55px;
    color: #606060;
    font-size: 1.1em;
}


div.priceBlock >input{
    border: 1px #ededed solid;
    background: #f5f5f5;
    color: #c9c9c9;
    font-family: 黑体;
    font-size: 1em;
    width: 87%;
    height: 55px;
    position: absolute;
    top: 11px;
    left: 20px;
    padding-left: 20px;
}

#unDisAmount_1{
    top: 0
}


::-webkit-input-placeholder { /* WebKit browsers */
    color: #DFDFDF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #DFDFDF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #DFDFDF;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #DFDFDF;
}

/*去除 input框 type=number时候 小箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}


div>li>span{
    position: absolute;
    right: 15px;
}

div.unDiscount>li>span ,div.hasDiscount>li>span{
    color: #DCC680;
}


div.totalPay{
    border-top: 1px #ededed solid ;
}


div.totalPay>li{
    font-size: 1.1em;
}

div.totalPay>li:first-child{
    margin-top: 25px;
}

div.totalPay>.disTotal>span{
    color: #C9C9C9;
}

#discount{
    color: #DCC680;
}

div.totalPay>.undisTotal>span{
    color: #DCC680;
}



footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > button{
    width: 100%;
    height: 50px;
    border: none;
    color: #fff;
    background: #DCC680;
    font-size: 1.4em;
}

input:focus{
    outline: 1px #DCC680 solid;
}




@media screen and (min-width: 420px){
    div.priceBlock >input{
        width: 90%;
    }
}

@media screen and (max-width: 375px){
    div.priceBlock >input{
        width: 85%;
    }
}


@media screen and (max-width: 360px){
    div.priceBlock >input{
        width: 84.5%;
    }
}

@media screen and (max-width: 320px){
    div.priceBlock >input{
        width: 82.5%;
    }
}












