@font-face{
	font-family:"微软雅黑";
}
h1,h2,h3{
	font-weight: normal;
}
body{
	font-family:"微软雅黑";
	/*background: #eeeeee;*/
    font: 12px/150% "微软雅黑", "\5b8b\4f53";
	margin: 0;
	padding: 0;
}
header,.wrapper,footer{
	font-size: 16px;
	background-color:#fff; 
}
header{
	height: 0.14rem;
	width: 1rem;
	border-bottom: #acacac solid 1px;
	position:fixed;
	top: 0;
	z-index: 20;
}
header center{
	width: 1rem;
	height: 0.12rem;
}
header div{
	width: 0.1rem;
	margin: 0 0.05rem;
	height: 0.12rem;
	line-height: 0.12rem;
	display: inline-block;
	/*border-bottom: 1px solid #ccc;*/
}
footer{
	width: 1rem;
	height: 0.12rem;
	background-color:#f0f0f0; 
	position: fixed;
	bottom: 0;
	text-align: center;
	z-index: 21;
}
footer div{
	width: 0.25rem;
	float: left;
	box-sizing:border-box;
	height: 0.12rem;
	/*background-color: #222;*/
}
footer div img{
	height: 0.04rem;
	width: 0.04rem;
	margin-top: 0.015rem;
}
footer div p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 12px;
    line-height: 18px;
}
footer div.pierrePage{
	background-color: #000;
	color: #fff0cc;
    height: 0.12rem;
}
.wrapper{
	width: 1rem;
	/*position: absolute;*/
	/*top: 0.14rem;*/
    margin-top: 0.14rem;
    z-index: 19;
	margin-bottom: 0.24rem;
	-webkit-margin-after: 0.24rem;
    box-sizing: content-box;
}
.wrapper .content .lar,.wrapper .content .uad{
	clear: left;
}
.wrapper .content .lar{
	height: 0.5rem;
	width:1rem;
}
.wrapper .content .lar>img{
	box-sizing:border-box;
	width: 0.5rem;
	height: 0.5rem;
	float: left;
}
.wrapper .content .lar .detail{
	box-sizing:border-box;
	float: left;
	width: 0.5rem;
	padding-left: 0.06rem;
}
.wrapper .content .lar .detail .logo{
	height: 0.12rem;
	width: auto;
	visibility:hidden;
}
.wrapper .content .lar .detail .logo img{
	height: 0.08rem;
	width: auto;
	margin-top: 0.02rem;
}
.wrapper .content .lar .detail .subTitle{
	color:#9c9c9c;
	font-size: 12px;
    -webkit-margin-after: 0;
/*    -webkit-margin-before: 2em;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wrapper .content .lar .detail .title{
    -webkit-margin-before: 0.01rem;
    color:#323232;
    font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wrapper .content .lar .detail .pirce{
    -webkit-margin-before: 2em;
    color: #c1af74;;
    font-size: 14px;
}

.lar .pirce{
	text-align: right;
	padding-right: 20px;
}




.wrapper .content .uad{
	width: 1rem;
	height: auto;
}
.wrapper .content .uad>img{
	width: 1rem;
	height: 0.5rem;
	margin-top: 0.01rem;
}
.wrapper .content .uad .title{
	font-size: 18px;
	color: #323232;
	margin:1em 0;
}
.wrapper .content .uad .subtitle{
	-webkit-margin-before: 0;
	font-size: 14px;
	color: #9c9c9c;
}
.wrapper .content .uad .pirce{
	font-size: 14px;
	color:  #c1af74;;
	margin:1em 0;
}
.wrapper .content .uad .buy{
	width: 0.2rem;
	height: 0.08rem;
	line-height: 0.08rem;
	-webkit-margin-after: 0.1rem;
	color: #fff;
	background-color:#c1af74;
}
/*购物车悬浮图标*/
.shoppingCart{
	font-size: 16px;
	position:fixed;
	right: 0.02rem;
	bottom: 0.123rem;
	z-index: 40;
	height: 
}
.shoppingCart img{
	width: auto;
	height: 0.08rem;
}
/*店铺样式表*/
.brandList .topBanner{
	width: 1rem;
	height: 0.55rem;
	position: relative;
}
.brandList .topBanner>img{
	width: 1rem;
	height: 0.55rem;
}
.brandList .topBanner>div{
	position: absolute;
	bottom: 0.02rem;
	height: 0.08rem;
}
.brandList .topBanner>div img{
	float: left;
	height: 0.06rem;
	margin: 0 0.02rem 0 0.04rem;
}
.brandList .topBanner>div p{
	float: left;
	color: #fafbf8;
	height: 0.06rem;
	line-height: 0.06rem;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
}
.brandList .brandDetail{
	width: 1rem;
	height: 0.34rem;
	box-sizing:border-box;
	padding: 0.03rem 0.04rem;
	border-bottom: #e7e7e7 1px solid;
	margin-bottom:0.03rem;
}
.brandList .brandDetail .left{
	width: 0.46rem;
	height: 0.28rem;
	float: left;
	position: relative;
}
.brandList .brandDetail .left h3{
	-webkit-margin-before:0;
	-webkit-margin-after:0.3em;
	color: #3f3f3f;
}
.brandList .brandDetail .left p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	color: #919191;
	line-height: 1.5;
	position: absolute;
	bottom: 0.05rem;
}
.brandList .brandDetail .right{
	width: 0.46rem;
	height: 0.28rem;
	float: right;
}
.brandList .brandDetail .right p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	width: 0.26rem;
	height: 0.08rem;
    line-height: 0.08rem;
	margin-top: 0.09rem;
	padding-top: 2px;
	float: right;
	text-align: center;
	font-size: 18px;
	background: url("../imgs/bc-2.png") no-repeat;
}
/*改版的店铺页面，不知道以后还会不会叫店铺页面*/
.newBrandList{
	width:1rem;
	box-sizing:border-box;
}
.newBrandList .singleBrand_q{
	height: 0.3rem;
	width: 1rem;
	border-bottom: #acacac solid 1px;
	margin-bottom: 0.01rem;
	box-sizing:border-box;
}
.newBrandList .singleBrand_q>img{
	width: 0.3rem;
	height: 0.3rem;
	margin-right: 0.04rem;
}
.newBrandList .singleBrand_q .detail_q{
	float: right;
	width: .66rem;
	box-sizing:border-box;
	height: 0.3rem;
	padding-right: 0.04rem;
	position: relative;
}
.newBrandList .singleBrand_q .detail_q h3{
	-webkit-margin-before:0.5em;
	-webkit-margin-after:0em;
	color: #3f3f3f;
	font-weight: bold;
/*	width: 0.5rem;*/
	font-size: 16px;
/*	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;*/
}
.newBrandList .singleBrand_q .detail_q h3 span{
	color: #cd9f00;
	float: right;
}
.newBrandList .singleBrand_q .detail_q>p{
	-webkit-margin-before:0.2em;
	-webkit-margin-after:3px;
	width: 0.62rem;
	font-size: 14px;
}
@media screen and (min-width:370px){
	.newBrandList .singleBrand_q .detail_q>p{
		-webkit-margin-before:0.4em;
		-webkit-margin-after:0.6em;
	}
}
.newBrandList .singleBrand_q .detail_q div{
	font-size: 12px;
	position: absolute;
	bottom: 0.02rem;
	left: 0;
}
.newBrandList .singleBrand_q .detail_q div img{
	height: 19px;
	vertical-align: middle;
	margin-right: 0.02rem;
}
.newBrandList .singleBrand_q .detail_q div span{
	margin-top: 1px;
}
.newBrandList .singleBrand_q .detail_q div p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
}
.wrapper .brandList{
	padding-top: 0.01rem;
}
.down{
	/*height: 0.4rem;*/
}

