@font-face{
    font-family: "微软雅黑";
}
h1,h2,h3{
    font-weight: normal;
}
body{
    font-family:"微软雅黑";
}
input{
    border:none;
    outline:none;
}
#header{
    width:100%;
    height: 0.17rem;
    line-height: 0.17rem;
    padding: 0 0.075rem;
    box-sizing:border-box;
    position: fixed;
    top:0;
    background: #FFFFFF;
    z-index: 3;
    color:#000;
}
#header{
    width:100%;
    height: 0.17rem;
    line-height: 0.17rem;
    padding:0 0.025rem;
    box-sizing:border-box;
    position: fixed;
    top:0;
    background: rgba(255,255,255,0.3);
    z-index: 3;
    color:#000;
    border-bottom: 1px solid #cccccc;
}
#header div{
    float:left;
}
#header .msg{
    width:100%;
    text-align: center;
    font-size:18px;
    position: relative;
}
#header .msg span{
	font-size:20px;
	
}
.msg a{
    position: absolute;
    left:0;
    top:0;
	font-size:16px;
}

.tab{
    color: #8B8B8B;
    width: 1rem;
    height: 0.14rem;
    /*line-height: 0.14rem;*/
    font-size: 15px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 20;
    text-align: center;
    border-bottom: rgba(172, 172, 172, 0.37) solid 1px;
    margin-bottom: 0.01rem;
}


.tab > div{
    float: left;
    width: 0.035rem;
    margin: 0 0.09rem;
    height: 0.12rem;
    line-height: 0.12rem;
    display: inline-block;
    position: relative;
    top: -8%;
    left: 17.5%;
}

.tab > div.active{
    color: #000;
    border-bottom: 2px #000 solid;
}


.tab > div>span{
    position: absolute;
    display: block;
    width: 0.12rem;
    left: -0.04rem;
    top: 15px;
}


    /*.tab .active{*/
        /*color: #ceb07c;*/
        /*border-color: #ceb07c;*/
    /*}*/

.list{
    width: 1rem;
    margin-top: 0.14rem;
    margin-bottom: 0.14rem;
    -webkit-margin-after:0.14rem;
    overflow: hidden;
    position: absolute;
}

.vipList{
    right: 0;
}

.readList{
    display: none;
}

.readList > button{
    width: 50%;
    background: #af904a;
    text-align: center;
    color: #FFF;
    letter-spacing: 5px;
    border: 0;
    margin: 40% auto 0.04rem auto;
    line-height: 20px;
    font-size: 20px;
    padding: 2% 0 2%;
    display: block;

}

.readList p{
    text-align: center;
    font-size: 1.5em;
    color: #737373;
}
.readList img{
    width: 56px;
    display: block;
    margin: 32% auto 19% auto;
}


.vip-item{
    width: 0.5rem;
    height:0.63rem;
    float:left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vip-item{
    padding:0.01rem 0.01rem 0 0.01rem;
}
.img-item{
    height:0.48rem; 
}
.img-item .img{
    width:100%;
    height:100%;
}
.info-item{
    padding: 0 0.02rem;
    height:0.12rem;
    text-align: center;
    box-sizing:border-box;
    padding-top: 0.01rem;
}
.vip-name{
    box-sizing:border-box;
    height: 0.08rem;
    font-size: 16px;
    font-weight: bold;
    line-height: 0.08rem;
}
.vip-info{
    height: 0.04rem;
    color:#929292;
    line-height: 0.04rem;
    overflow: hidden;
    text-overflow: ellipsis;

}









/* 热门  */
.hotList>.singleHot{
    width: 1rem;
    height: 0.68rem;
    border-bottom: 1px #f2f2f2 solid;
    position: relative;
}

.hotList>.singleHot>h4.title{
    color: #343434;
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    top: 3.5%;
    left: 3%;
}

.hotList>.singleHot>.creatTime{
    display: block;
    font-size: 15px;
    color: #c8c8c8;
    position: absolute;
    background: url("../imgs/life-hot/outTime.png") no-repeat 8% 50%;
    background-size: 25%;
    bottom: 0;
    left: -0.5%;
    width: 0.22rem;
    height: 0.09rem;
    line-height: 0.09rem;
    text-align: right;
    padding-left: 0.1rem;
}

.hotList>.singleHot>.lookNum{
    display: block;
    position: absolute;
    font-size: 15px;
    color: #c8c8c8;
    height: 0.09rem;
    line-height: 0.09rem;
    bottom: 0;
    right: 0.05rem;
}


iframe {
    min-width: 100%; 
    width: 100px;
    *width: 100%; 
    *height: 100%;
}
footer{
    width: 1rem;
    height: 0.12rem;
    background-color:#f0f0f0; 
    position: fixed;
    bottom: 0;
    z-index: 2500;
    text-align: center;
}
footer div{
    width: 0.25rem;
    float: left;
    box-sizing:border-box;
    height: 0.12rem;
    /*background-color: #222;*/
}
footer div img{
    height: 0.04rem;
    width: 0.04rem;
    margin-top: 0.015rem;
}
footer div p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 12px;
}
.readPage{
    background: #2e3133;
    display: block;
    height: 0.12rem;
    color: #fff0cc;
}


@media only screen and (max-width: 384px){
    .tab > div>span{
        top: 10px;
    }
}

@media only screen and (max-width: 375px){
    .tab > div>span{
        top: 10px;
    }
}


@media only screen and (max-width: 320px){
    .tab > div>span{
        top: 9px;
    }
}



















