
h1,h2,h3{
	font-weight: normal;
}
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #323232;
	background: #fafafa;
	font-size: 14px;
}

/*中间内容区域*/
.wrapper{
	width: 1rem;
	padding-top: 0.05rem;	
	margin-bottom: 0.12rem;
}
.wrapper .singleBrand{
	height: 0.3rem;
	padding: 0 0.02rem 0.01rem 0.02rem;
	border-bottom: 1px rgba(182, 182, 182, 0.23) solid;
}
.wrapper .singleBrand img:first-child{
	width: 0.066rem;
	float: left;
	height: 0.066rem;
	margin: 0.1rem 0;
} 
.wrapper .singleBrand img:nth-child(2){
	width: 0.266rem;
	float: left;
	height: 0.266rem;
	margin: 7px 0.04rem 0 0.03rem;
}
.wrapper .singleBrand .detail{
	/*height: 0.266rem;*/
	width: 0.55rem;
	float: left;
	box-sizing:border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.wrapper .singleBrand .detail h3{
	margin: 0.04rem 0 0 0;
	font-size: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wrapper .singleBrand .detail p.subtitle{
	font-size: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wrapper .singleBrand .detail .singleCost{
	font-size: 1em;
	margin-top: 0.05rem;
}
.wrapper .singleBrand .subtitle{
	color:#909090;
}

.wrapper .singleBrand .detail .singleCost span:first-child{
	color: #c1af74;
}

.wrapper .singleBrand .singleCost span:nth-child(2){
	float: right;
}


/*空页面的样式*/
.wrapper center img{
	margin-top: 0.2rem;
}
.wrapper center p:last-child{
	width: 0.5rem;
	height: 0.1rem;
	line-height: 0.1rem;
	margin-top: 0.2rem;
	background-color: #c1b02b;
}


/*底部部分*/
footer{
	font-size: 16px;
	width: 1rem;
	height: 0.12rem;
	background-color:#f0f0f0; 
	position: fixed;
	bottom: 0;
	text-align: center;
}
/*全选按钮*/
footer div.select_all{	
	width: 0.22rem;
	height: 0.12rem;
	float: left;
	line-height: 0.12rem;
}
footer div.select_all p{
	-webkit-margin-before:0;
    -webkit-margin-after:0;
}
footer div.select_all img{
	width: 0.066rem;
	height: 0.066rem;
    vertical-align: middle;
    margin-right:0.03rem;
}
footer div.select_all span{
	position: relative;
	top: 1px;
}
/*信息窗口*/
footer div.message{
	width: 0.33rem;
	height: 0.12rem;
	float: right;
}
footer div.message .cost{
	color: #020202;
	width: 100%;
	font-size: 14px;
	float: left;
	line-height: 0.11rem;
	-webkit-margin-before: 0.005rem;
	-webkit-margin-after: 0;
	height: 100%;
}
footer div.message .remark{
	-webkit-margin-before:0;
    -webkit-margin-after:0;
	width: 100%;
	height: 0.06rem;
	line-height: 0.03rem;
	color:#b9b9b9;
	font-size: 12px;
	float:left;
}
footer div.edit_all{
	width: 0.22rem;
	height: 0.12rem;
	float: right;
	line-height: 0.12rem;
	box-sizing:border-box;
}
/*购买数量选项卡*/
footer div.brandNum{
	width: 0.26rem;
	height: 0.12rem;
	line-height: 0.12rem;
	float: right;
	color: #f0f0f0;
	background-color: #C1AF74;
}
footer div.brandNum p{
	-webkit-margin-before:0;
    -webkit-margin-after:0;
    height: 0.12rem;
}
footer .done{
	/*display: none;*/
}

/*编辑部分*/
footer .edit{
	width: 1rem;
	height: 0.12rem;
	display: none;
}
footer .edit .edit_{
	float: right;
	width: 0.33rem;
}
footer .edit .edit_ p{
	-webkit-margin-before:0;
    -webkit-margin-after:0;
	height: 0.12rem;
	line-height: 0.12rem;
}

footer div.select_all_{	
	width: 0.33rem;
	height: 0.12rem;
	float: left;
	line-height: 0.12rem;
}
footer div.select_all_ p{
	-webkit-margin-before:0;
    -webkit-margin-after:0;
	padding-right: 41px;
}
footer div.select_all_ img{
	width: 0.066rem;
	height: 0.066rem;
    vertical-align: middle;
    margin-right:0.03rem;
}
footer div.select_all_ span{
	position: relative;
	top: 1px;
}

footer div.delete_all{
	width: auto;
	height: 0.12rem;
	line-height: 0.12rem;
	position: absolute;
	left: 277px;
	right: 0;
	color: #f0f0f0;
	background-color: #c1af74;
}
footer div.delete_all img{
	width: 0.066rem;
	height: 0.066rem;
    vertical-align: middle;
    margin-right:0.05rem;
}

/*加减操作按钮*/
.count{
	width: 0.25rem;
	height: 0.075rem;

	font-size: 12px;
	text-align: center;
	float: right;
	/*border: 1px solid #333333;*/
	margin-top: 8px;
	background: rgb(242, 242, 242);
}
.count-i{
	display: block;
	float: left;
	padding: 0 0.01rem;
	width: 25%;
	height: 100%;
	line-height: 30px;
	font-size: 1.5em;
}
.add{
    background: #D5D5D5;
    color: #fff;
	font-size: 2em;
}
.reduce{
    background: #D5D5D5;
    color: #fff;
	font-size: 2em;
}

.singleBrand .count{
	display: none;
}
.singleBrand .singleCost{
	/*display: none;*/
}



header{
	font-size: 17px;
	position: relative;
}

header>.shoppingCar{
	display: block;
	width: 20%;
	margin: auto;
	text-align: center;
	padding-top: 0.5em;
	font-size: 17px;
}

header>.edit_all , header>.edit_{
	position: absolute;
	right: 13px;
	top: 9px;
}
header>.edit_{
	position: absolute;
	right: 13px;
	top: 8px;
	display: none;
}








/*&********************  ↓  修改购物车 ↓   ****************************/

label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fff;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	display: inline-block;
	position: relative;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	float: left;
	margin: 0.123rem 0;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #C1AF74;
	border: 1px #C1AF74 solid;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #fff;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 17px;
	position: absolute;
	top: -3px;
	left: 3px;
	color: #fff;
}

.wrapper .singleBrand >img{
	width: 0.24rem;
	height: 0.24rem;
	float: left;
	margin: 0.03rem 0.04rem 0 0.03rem;
	border: 1px #e6e6e6 solid;
	border-radius: 5px;
}

footer .regular-checkbox + label{
	margin: 0.035rem 0.02rem;
}
footer .regular-checkbox:checked + label:after {
	top: -14px;
}




/*&********************  ↑  修改购物车 ↑   ****************************/

@media screen and (max-width: 375px){
	.count{
		margin-top: 5px;
	}
	.wrapper .singleBrand .detail{
		/*height: 0.275rem;*/
	}
}

@media screen and (max-width: 360px){
	.count{
		margin-top: 0;
	}
	.count-i{
		line-height: 26px;
	}
	.wrapper .singleBrand .detail .singleCost{
		margin-top: 0.035rem;
	}

	footer .regular-checkbox:checked + label:after{
		top: -11px;
	}
}

@media screen and (max-width: 320px){

	.count-i{
		line-height: 21px;
		font-size: 1.2em
	}

	.wrapper .singleBrand .detail p.subtitle{
		height: 23px;
	}

	.wrapper .singleBrand .detail .singleCost{
		margin-top: 0.03rem;
	}

	.wrapper .singleBrand .detail h3{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1em;
	}

	footer div.delete_all{
		left: 231px;
	}

	.regular-checkbox + label{
		padding: 7px;
	}

	.regular-checkbox:checked + label:after{
		top: -5px;
		left: 1px;
	}

	footer .regular-checkbox:checked + label:after{
		top: -11px;
	}
}





