
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: 15px;
}

ul,li{
    list-style: none;
}


header{
    height: 0;
}


article {
    padding: 0 3%;
}


article >.comments{
    position: relative;
    border-top: 1px #f1f1f1 solid;
    padding-top: 25px;
    margin-bottom: 55px;
}


article >.comments>.totalNum{
    display: block;
    position: absolute;
    color: #a0a0a0;
    font-size: 1em;
    background: #fff;
    z-index: 100;
    top: 10px;
    left: 50%;
    width: 98px;
    margin-left: -49px;
    text-align: center
}


article >.comments>.commentList>.singleCmt{
    width: 100%;
    min-height: 0.3rem;
    margin: 0.05rem 0 0.02rem 0;
    overflow: hidden;
}

article >.comments>.commentList>.singleCmt>div{
    float: left;
    height: 100%;
}
article >.comments>.commentList>.singleCmt>div:first-child{
    width: 17%;
}

article >.comments>.commentList>.singleCmt>div.cmtContent{
    width: 80%;
}

article >.comments>.commentList>.singleCmt>div.customerService{
    margin: 10px 0 0 17%;
    width: 75%;
}

article >.comments>.commentList>.singleCmt>div.customerService h3{
    font-family: "SimHei";
    font-size: 14px;
    color: #323232;
    font-weight: 100;
    border-left: 5px rgb(70, 179, 80) solid;
    padding-left: 5px;
}

article >.comments>.commentList>.singleCmt>div.customerService span{
    display: inline-block;
    width: 100%;
    color: #808080;
    font-size: 0.8em;
    margin-top: 0.02rem;
    padding-left: 0.06rem;
    word-break: break-all;
    letter-spacing: 1px;
}
article >.comments>.commentList>.singleCmt>div.customerService span.time{
    width: auto;
    float: right;
    color: #cfcfcf;
    font-size: 0.7em;
}

article >.comments>.commentList>.singleCmt img{
    display: block;
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 60%;
}

article >.comments>.commentList>.singleCmt .userName{
    display: block;
    font-size: 1em;
    color: #323232;
}

article >.comments>.commentList>.singleCmt .commentContent{
    color: #808080;
    font-size: 0.8em;
    margin: 0.02rem 0;
    word-break: break-all;
}

article >.comments>.commentList>.singleCmt .creatTime{
    display: block;
    font-size: 0.7em;
    color: #cfcfcf;
}

footer.nav{
    background: #FFF;
    width: 100%;
    height: 7%;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: #ffffff;
    z-index: 100;
    display: block;
}

footer>.box{
    height: 100%;
    font-size: 15px;
}

#commentContent{
    margin-top: 13px;
    width: 78%;
    height: 60%;
    margin-left: 20px;
    padding-left: 10px;
    background: rgb(238, 238, 238);
    border: none;
}

#publishCmt{
    text-align: center;
    display: inline-block;
    padding: 4px;
    color: #ccc;
}

#loading{
    font-size: 12px;
}

.dropload-load .loading{
    height: 12px;
    width: 12px;
}