html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#comment{
    font-size: 13px;
    color: #A5A2A2;
    background: #fff;
    width: 92%;
    margin: 0 auto 0.3rem auto;
    position: relative;
}

h3{
    margin-bottom: 0.025rem;
}

#comment>.box{
    height: 0.075rem;
    line-height: 0.07rem;
    margin: 0.12rem 0 0.01rem 0;
}

#comment input{
    padding-left: 10px;
    width: 79%;
    height: 100%;
    background: rgba(157, 150, 150, 0.18);
    border: none;
}

#comment input+span{
    font-size: 16px;
    padding: 0 0 0 0.04rem;
    display: inline-block;
    height: 100%;
}

#comment>.list{
    overflow: hidden;
    position: relative;
}

#comment>.list>img{
    width: 40px;
    height: 40px;
    border-radius: 0.07rem;
    position: absolute;
}

#comment>.list>.customerCmt,#comment>.list>.customerService{
    float: left;
    width: 85%;
    margin-left: 50px;
}

#comment>.list>.customerCmt span{
    font-size: 0.04rem;
    color: #000;
}

#comment>.list>.customerCmt p{
    margin: 0.01rem 0 0.04rem 0;
    font-size: 0.03rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

#comment>.list>.customerService{
    color: #000;
}

#comment>.list>.customerService h3{
    font-size: 0.04rem;
    color: #323232;
    font-weight: 100;
    border-left: 5px rgb(70, 179, 80) solid;
    padding-left: 5px;
    margin-bottom: 0;
}

#comment>.list>.customerService span{
    display: inline-block;
    color: #808080;
    font-size: 0.9em;
    margin-top: 0.02rem;
    padding-left: 0.06rem;
    word-break: break-all;
}




#moreComts{
    display: inline-block;
    margin: 0.03rem 0;
    position: absolute;
    right: 0;
}