body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 黑体;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #000;
}
a.active{
    color: #BCAB72;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}



/********************  二级banner  **********************************/

#banner img{
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 30%;
    /*height: 13rem;*/
    border-bottom: 5px #EDEDED solid;
}



/********************  菜单栏  **********************************/
nav{
    overflow: hidden;
    border-bottom: 1px #E7E6E6 solid;
    height: 3rem;
    line-height: 3rem;
    position: relative;
    background: #fff;
    z-index: 1000;
    width: 100%;
}

nav.fixed{
    position: fixed;
    top: 0;
    left: 0;
}


nav > div{
    padding: 0;
    float: left;
    text-align: center;
}
nav > div:first-child{
    width: 18%;
}

nav > div:first-child img{
    height: 0.9rem;
    position: absolute;
    top: 1.1rem;
    left: 18%;
}

nav > div:last-child{
    width: 70%;
    height: 100%;
    margin-left: 1rem;
    overflow: hidden;
}
nav > div:last-child >li{
    display:inline-block;
}
#menu li.active{
    color: #BCAB72;
}

#menu .swiper-button-next{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: none;
    top: 1.4rem;
    right: 0.5rem;
}

#menu .swiper-button-next img{
    width: 0.4rem;
}




/***********************  我的 ****************************/
#service{
    border-bottom: 7px #EDEDED solid;
}

#service> .serviceList{
    width: 98%;
    display: block;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

#service> .serviceList>li{
    display: inline-block;
    width: 25%;
    height: 4.5rem;
    text-align: center;
    position: relative;
    margin-top: 1rem;
}

#service> .serviceList>li:last-child{
    margin-bottom: 0.8rem;
}


#service> .serviceList>li>img{
    width: 2.8rem;
    height: auto;
}

#service> .serviceList>li>span{
    position: absolute;
    width: 4rem;
    bottom: 0.2rem;
    left: 50%;
    margin-left: -2rem;
    font-size: 0.9em;
}

#content >header{
    color: #3f3f3f;
    text-align: right;
    height: 3rem;
    line-height: 3rem;
    border-bottom: 3px #EDEDED solid;
}

#content >header>span{
    display: inline-block;
}

#content >header>span img{
    height: 0.8rem;
}

#content >header>span:first-child{
    float: left;
    margin-left: 1.5rem;
}

#content >header>span:last-child{
    font-size: 0.9em;
    color: #C1AF74;
    margin-right: 1.5rem;
}

#content > .tip{
    text-align: center;
    height: 16rem;
}

#content h2{
    font-size: 1.35em;
    font-weight: 100;
    color: #3f3f3f;
    margin: 3rem 0 1rem 0;
}

#content p{
    color: #929292;
    font-size: 1em;
    line-height: 1.7rem;
    margin: 0 0 2rem 0;
}

#content button{
    background-color: #BDAC72;
    border-radius: 0;
    width: 14rem;
    height: 2.7rem;
    border: none;
    outline: hidden;
    color: #fff;
    font-size: 1.1em;
    font-family: 黑体;
}

/*#content  .weui_btn_primary:not(.weui_btn_disabled):active{*/
    /*background-color: #A59665;*/
/*}*/


/************************ 全部卡种 *****************************/
section.allCards{
    overflow-y: scroll;
    max-height: 60%;
}

section.allCards>.singleCard{
    width: 94%;
    height: 6rem;
    margin: 0 auto 0 auto;
    padding: 1.5rem 0;
    border-bottom: 1px #EDEDED solid;
}

section.allCards>.singleCard>div,section.allCards>.singleCard>img{
    float: left;
}

section.allCards>.singleCard>img{
    display: inline-block;
    width: 40%;
    height: 100%;
    background: #DADADA;
}

section.allCards>.singleCard>div{
    margin-left: 1.5rem;
    width: 50%;
}

section.allCards>.singleCard h2{
    margin: 0;
    line-height: 1.4rem;
    width: 100%;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.1em;
    font-weight: 100;
    color: #3f3f3f;
}
section.allCards>.singleCard p{
    font-size: 0.8em;
    color: #929292;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;
    word-break: break-all;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}




/*****************************************************/
@media screen and (max-width: 375px){
    #menu li{
        font-size: 0.88em;
    }
}

@media screen and (max-width: 360px){
    #service {
        font-size: 0.9em;
    }

    #menu li{
        font-size: 0.8em;
    }

    nav > div:first-child img{
        left: 19%;
    }
}

#loading{
    text-align: center;
    position: relative;
    top: 26%;
}
#loading >img{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    position: fixed;
    bottom: 33%;
}


